.bookstore {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 0 20px;
  color: blue;
  gap: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.booklist {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.bookstoredata {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(155, 154, 154, 0.719);
  border-radius: 5px;
  background-color: rgba(196, 196, 196, 0.26);
  padding: 10px 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookinfo {
  border: 5px solid royalblue;
  border-left: 5px solid rgb(170, 170, 170);
  border-radius: 50%;
  transform: rotate(25deg);
  width: 70px;
  height: 70px;
}

.percentages {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.form {
  width: 90%;
  margin: 0 20px 10px 0;
  gap: 10px;
}

h2 {
  font-weight: bold;
  align-items: center;
  font-size: 42px;
}

.form-container {
  border-top: 1px solid rgba(147, 146, 146, 0.42);
  padding-top: 2rem;
}

.form-container h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #676767e8;
}

.submit-form {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.submit-form .input {
  height: 2.5rem;
  padding-left: 1rem;
  border: 1px solid rgba(193, 191, 191, 0.868);
  outline: none;
  border-radius: 4px;
}

.input-book {
  width: 23%;
}

.category-input {
  width: 23%;
  height: 6rem;
}

.bookS {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  height: 2.5rem;
  width: 18%;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 1rem;
}
