*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-block: 2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  margin-bottom: 2rem;
}
